<li class="list-group-item my-0 py-2 d-flex justify-content-between">
    {{burger_name}}

    <button class="btn btn-primary btn-sm change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}Devour!{{else}}Eat Again?{{/if}}
    </button>
</li>